<h3>As the Open To-do API, I want to return JSON representations of users, lists, and items</h3>
<h3>As a user, I want to authenticate myself from the command line, using a username and password</h3>
<h3>As a user, I want to create new users, lists, and items from the command line</h3>
<h3>As a user, I want to remove users and lists from the command line</h3>
<h3>As a user, I want to update list and item attributes from the command line</h3>
